.idea
orat_oret
HOG
LBP
*.log
log
*DS_Store
dataset
data_analysis
!/data_analysis/analysis_notebook/


test_pupil
*__pycache__
*linear
# remove hogmodel from git
hog_model
=======
database/mongo
database/mongod.pid
vita_plot

